{% extends 'base.html'%}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>{{ writer.username | capitalize }}</h3>
                {% if writer.bio %}
                <p>{{ writer.bio }}</p>
                {% else %}
                <p>{{ writer.username | capitalize }} has no bio.</p>
                {% if writer == current_user %}
                <p><a href="{{ url_for('main.update_profile', name = writer.username)}}">Edit Profile</a></p>
                {% endif %}
                {% endif %}
                {% if blogs %}
                {% for blog in blogs %}
                    {{ blog.body }}
                {% endfor %}
                {% else %}
                <p>You have no blog posts</p>
                {% endif %}
            </div>
            <!-- photo -->
            <div class="col-md-3">
                {% if writer.image_path %}
                <img src="{{url_for('static',filename='/images/avi.png')}}" alt="" class="img-thumbnail">
                {% else %}
                <img src="{{url_for('static',filename='/images/avi.png')}}" alt="" class="img-thumbnail">
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}