{% extends 'layout.html'%}
{% block content %}

    <form method="post">
     {{ form.hidden_tag() }}  <!--  adds a csrf token -->
      <fieldset class=""form-group>
        <legend class="mb-4 cto">Login</legend>
   
        <div class="form-group">
          {{ form.email.label(class="form-control-label") }}
          {% if form.email.errors %}
          {{ form.email(class="form-control form-conrol-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
              <span>{{error}}</span>
            {% endfor %}
          </div>
          {% else %}password
          {{ form.email(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-control-label") }}
          {% if form.password.errors %}
          {{ form.password(class="form-control form-conrol-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              <span>{{error}}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.password(class="form-control form-control-lg") }}
          {% endif %}
        </div>
 
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-login") }}
        <button style="border-color: lightcoral;" class="btn">
           <a style="color: lightcoral;" class="ml-2" href="{{ url_for('auth.register') }}">Sign Up</a>
        </button>
      </div>
  </div>
{% endblock %}