@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Didact+Gothic&family=Poiret+One&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}
header {
    background-image: url(./images/header1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 300px;
}
.navbar {
    background-color: #AFC9CE;
    color: #273437;
    letter-spacing: 5px;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}
.navbar-right{
  margin-right: 0;
}
.mid-nav {
   margin-left: 16rem;
 
}
.btn-register {
  background-color: lightcoral;
}
.btn-post {
  background-color: #273437;
  color: wheat;
}
nav a {
  color: white;
  text-transform: uppercase;
 

}
.title {
  font-size: 2rem;
  
}
.title:hover{
  color: lightcoral;
}
nav a {
  text-decoration: none;
}
.blog, blockquote {
    font-family: 'Caveat', cursive;
}
blockquote{
  font-size: 1.6rem;
}
.quote {
  text-align: center;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: relative;
    z-index: 1;
    top: calc(0 - 200px);
    left: 0;
    background-color: #AFC9CE;
    overflow-x: hidden;
    padding-top: 5rem;
    text-align: center;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    color: black;
  }
  .social{
    display: flex;
    padding: 2rem;
  }
  .main {
    margin-left: 160px; /* Same as the width of the sidenav *//* Increased text to enable scrolling */
    padding: 0px 10px;
    font-family: 'Didact Gothic', sans-serif;
  }
.col-md-1, .col-md-2 {
  display: flex;
  align-items: center;
}
a:link {
  text-decoration: none;
}
