{% extends 'base.html'%}
{% block content %}
{%if blog %}
<h1>{{ blog.title }}</h1>
<hr>
<p>{{ blog.post }}</p>
<p>Posted by : {{ blog.writer }}</p>
{% if current_user == blog.writer %}
<button class="btn-register"><a href="{{ url_for('main.blogupdate', id = blog.id)}}">Edit Post</a></button>
<button class="btn-register"><a href="{{ url_for('main.blog_delete', id = blog.id)}}">Delete Post</a></button>
{% endif %}
{% if current_user.is_authenticated %}
<button class="btn btn-danger"><a href="{{ url_for('main.comment_delete', id = comment.id)}}">Delete</a></button>
{% endif %}
<div class="card card-outline-secondary my-4">
  <div class="card-header">
   Leave a comment
  </div>
  <div class="card-body">
    <form class="comment-form" action="{{ url_for('main.comment', id = blog.id) }}" method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.body.label }}
        {{ form.body(class="form-control", rows="3") }}
      </div>
      {{ form.submit(class="btn btn-register") }}
      <span class="comment-error"></span>
    </form>
    <hr class="form-border">
    {% if comments %}
    <h4>comments({{ blog.comments.count() }})</h4>
    {% for comment in comments %}
    <p>{{ comment.body }}</p>
    <small class="text-muted">Posted by {{comment.username}}</small>
    <hr>
    {% endfor %}
    {% else %}
    <p class="placeholder-comment">Be the first to comment on this item</p>
    {% endif %}
  </div>
</div>

{% endif %}
{% endblock %}