{% extends 'base.html'%}
{% block content %}
{%if blog %}
<h1>{{ blog.title }}</h1>
<small class="text-muted">{{ blog.date_posted.strftime('%Y-%m-%d') }}</small>
<hr>
<p>{{ blog.post }}</p>
<p><strong>Author : {{ blog.writer.username|capitalize }}</strong></p>
{% if current_user == blog.writer %}
<button class="btn btn-post"><a style="color: wheat;" href="{{ url_for('main.blogupdate', id = blog.id)}}">Edit Post</a></button>

<button class="btn btn-danger ml-2" data-toggle="modal" data-target="#deleteModal">Delete Post</button>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to remove this post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
        <form action="{{ url_for('main.blog_delete', id = blog.id) }}" method="POST">
            <input class="btn btn-danger btn-sm" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="card card-outline-secondary my-4">
  <div class="card-header">
   Leave a comment
  </div>
  <div class="card-body">
    <form class="comment-form" action="{{ url_for('main.comment', id = blog.id) }}" method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.body.label }}
        {{ form.body(class="form-control", rows="3") }}
      </div>
      {{ form.submit(class="btn btn-post") }}
    </form>
    <hr class="form-border">
    {% if comments %}
    <h4>comments({{ blog.comments.count() }})</h4>
    {% for comment in comments %}
    <p>{{ comment.body }}</p>
    {% if current_user.is_authenticated %}
    <button class="btn btn-danger"><a href="{{ url_for('main.comment_delete', id = comment.id)}}">Delete</a></button>
    {% endif %}
    <small class="text-muted">Posted by {{comment.username}}</small>
    <hr>
    {% endfor %}
    {% else %}
    <p class="placeholder-comment">Be the first to comment on this post</p>
    {% endif %}
  </div>
</div>

{% endif %}
{% endblock %}